html 
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title EntropiQuest
    style 
        include ./css/auth.css
body
    h1 Welcome to EntropiQuest
    button(onclick="window.location.href='https://discord.com/api/oauth2/authorize?client_id=1088536979500703894&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauthenticate&response_type=code&scope=identify'")
        i(class="fab fa-discord") 
        p Login with Discord
    script(src="./js/all.js")  
