html
    head
        title Dashboard
        style
            include ./css/dashboard.css
    body
        h1 Dashboard
        h2 Welcome to the dashboard, #{name}!
            i(class="fab fa-discord")
        script  
            include ./js/all.js